.footer {
  background: linear-gradient(135deg, #007e72 0%, #4de4a7 50.04%, #95fcd2 100%);
  padding: 50px 0;
  border-radius: 40px 40px 0 0;
  &__left {
    h2 {
      font-family: Clash Display;
      font-weight: 600;
      font-size: clamp(1.5rem, 1.375rem + 0.63vw, 2rem);
      line-height: 40px;
      letter-spacing: 0%;
      color: #fff;
    }
    @media (max-width: 768px) {
      align-items: center;
      text-align: center;
    }
  }
  &__main {
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__right {
    // width: 100%;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__items {
    p {
      font-family: Clash Display;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0%;
      color: #fff;
    }
    a {
      font-family: Clash Display;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0%;
      color: #ffffff;
    }
  }
  &__map {
    display: block;
    width: 400px;
    height: 160px;
    border-radius: 20px;
    overflow: hidden;
    @media (max-width: 768px) {
      width: 100% !important;
    }
  }
}
